# algos.bash_aliases

libexpandpath="$(readlink -f C:\\Users\\dkozyrev\\Documents\\GitHub\\competitive-programming\\algos\\libexpand.exe)";

function libexpand() {
	if [ -z "$1" ]; then
		echo "ERROR: You have to specify filename!";
	else
        filePath=$(readlink -f "$1");
		"$libexpandpath" "-e" "$filePath";
	fi
}
function libcollapse() {
	if [ -z "$1" ]; then
		echo "ERROR: You have to specify filename!";
	else
        filePath=$(readlink -f "$1");
		"$libexpandpath" "-c" "$filePath";
	fi
}

cpp_flags="-fconcepts -Wall -Wextra -pedantic -std=c++2a -Ofast -Wshadow -Wformat=2 -Wfloat-equal -Wconversion -Wlogical-op -Wshift-overflow=2 -Wduplicated-cond -Wcast-qual -Wl,--stack=256000000 -Wcast-align"

cpp_debug_flags="-D_GLIBCXX_DEBUG -D_GLIBCXX_DEBUG_PEDANTIC -D_FORTIFY_SOURCE=2"

function cpp_compile() {
	if [ -z "$1" ]; then
		echo "ERROR: You have to specify filename!";
	else
        filePath=$(readlink -f "$1");
		libexpand "$filePath";
		echo -e "\n\nStart the compilation process...";
		g++ $2 $3 "$1";
	fi
}

function cpp_debug() {
	cpp_compile "$1" "$cpp_flags" "$cpp_debug_flags";
}

function cpp_fast() {
	cpp_compile "$1" "$cpp_flags";
}

alias c++debug="g++ $cpp_flags $cpp_debug_flags";
alias c++fast="g++ $cpp_flags";
alias cppf="cpp_fast"
alias cppd="cpp_debug"
